html{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #442b43;
}

.container {
  display: flex; 
  justify-content: center;
}

.pastel {
  /* background-image: url(victor.jpg); */
  background-repeat: no-repeat;
  width: 500px;
  height: 1000px;
  background-color: #ffdead;
}

.imagem {
  align-items: center;
  padding: 165px 0px;
}

.preto {
  width: 500px;
  height: 1000px;
  background-color: black;
}

/* h1:hover{
text-shadow: rgb(255, 255, 255) -3px 0,rgb(255, 255, 255) 3px 0 ;

} */

.texto {
  color: rgb(245, 214, 192);
  padding: 200px 0px 0px 30px;
  background-position: center;
  display: inline-block;
  font-family: Courier, monospace;
}

.texto2 {
  color: rgb(221, 149, 123);
  font-family: Georgia, serif;
}

.links {
  color: blueviolet;
  padding: 20px;
  background-position: center;
  display: inline-block;
}

.links:hover {
  transform: scale(1.2);
  transition-duration: 350ms;
  
}
#gif {
  padding: 50px 130px;
}


 @media (max-width: 1024px){
  .container {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
 }

