html{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #442b43;
}

.container {
  display: flex; 
  justify-content: center;
}

.pastel {
  /* background-image: url(victor.jpg); */
  background-repeat: no-repeat;
  width: 500px;
  height: 1000px;
  background-color: #ffdead;
}

.imagem {
  align-items: center;
  padding: 165px 0px;
}

.victor{
  width: 100%;
  height: 100%;
}

.preto {
  width: 500px;
  height: 1000px;
  background-color: black;
}

/* h1:hover{
text-shadow: rgb(255, 255, 255) -3px 0,rgb(255, 255, 255) 3px 0 ;

} */

.texto {
  color: rgb(245, 214, 192);
  padding: 200px 0px 0px 30px;
  background-position: center;
  display: inline-block;
  font-family: Courier, monospace;
}

.texto2 {
  color: rgb(221, 149, 123);
  font-family: Georgia, serif;
}

.links {
  color: blueviolet;
  padding: 20px;
  background-position: center;
  display: inline-block;
}

.links:hover {
  transform: scale(1.2);
  transition-duration: 350ms;
  
}

.patinho{
  width: 200px;
}

#gif {
  
  padding: 50px 130px;
}


 @media screen and (max-width: 1366px){
  .container {
    flex-direction: column;
    align-items: center;
  }
 }
 

 @media (max-width: 414px){
  .container {
  height: 100%;
  }
  .pastel{
    width: 100%;
    height: 730px;
    
  }
  .preto{
    width: 100%;
    height: auto;
  }

.texto, .texto2, .links{
  width: 80%;
  padding-top: 10%;
}
.patinho{
  width: 120px;
  height: 120px;
  padding-left: 30%;

}
#gif{
  padding:20px;
}
.links {
  width: 15px;
  height: 15px;
  background-position: center;
  padding: 0px 50px 50px 0px;
}

}

@media (max-width: 375px){
  .container {
  height: 100%;
  }
  .pastel{
    width: 100%;
    height: 700px;
    
  }
  .preto{
    width: 100%;
    height: auto;
  }

.texto, .texto2, .links{
  width: 80%;
  padding-top: 10%;
}
.patinho{
  width: 120px;
  height: 120px;
  padding-left: 30%;

}
#gif{
  padding:20px;
}
.links {
  width: 15px;
  height: 15px;
  background-position: center;
  padding: 0px 50px 50px 0px;
}

}
